svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-233 34 493 493', style='enable-background:new -233 34 493 493;', xml:space='preserve')
    style(type='text/css').
        .st0{fill:none;stroke:#000000;stroke-width:15;stroke-miterlimit:10;}
        .st1{fill:none;stroke:#000000;stroke-width:9;stroke-miterlimit:10;}
    g
        circle.st0(cx='11.8', cy='280.8', r='240')
        path.st1(d='M-66.4 53.8c0 0 174.1 178.7 134.2 456.8')
        path.st1(d='M-223.2 232.3c0 0 273.8 61.1 417.5-107.3')
        path.st1(d='M-175.6 436.5c0 0 174.9-228.4 427.6-140.6')
