.swiper-container.career-container
  .swiper-wrapper
    .swiper-slide.flex-container.flex-justify-center.flex-align-items-center
      .career-values.flex-container
        .career-value-item 
          div
            .career-value-icon.lazy-bg(data-background="./images/Career/ic-1.svg")
            p build dream company, no bullshit!
        .career-value-item 
          div
            .career-value-icon.lazy-bg(data-background="./images/Career/ic-3.svg")
            p create fun and a little weirdness
        .career-value-item 
          div
            .career-value-icon.lazy-bg(data-background="./images/Career/ic-2.svg")
            p making wow throught technology
        .career-value-item 
          div
            .career-value-icon.lazy-bg(data-background="./images/Career/ic-4.svg")
            p we're family of geeks
        
    .swiper-slide
      .swiper-container.hashtags-container
        .swiper-wrapper
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-1.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #cozy_office
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-2.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #flexible_work_hours
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-3.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #English_classes
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-4.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #bike_car_parking
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-1.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #team_buildings_activities
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-2.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #competetive_salary
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-3.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #tech_talks
          .swiper-slide.lazy-bg(data-background="./images/Career/vac-4.jpg")
            .hashtag-item.flex-container.flex-justify-center.flex-align-items-center
              p #professional_growth
        .swiper-pagination

    .swiper-slide
      include team/team
    
    .swiper-slide.vacancies-container#cv
      .vacancy-block
        .vacancy-bg.lazy-bg(data-background="./images/Career/vac-1.jpg")
        a(href="/#vacancy_1").change-page.vacancy-item.flex-container.flex-justify-center.flex-align-items-center
          div
            p.vacancy-name Middle Front-end 
              soan (AngularJS) Developer
            p Lviv, Ukraine
      .vacancy-block
        .vacancy-bg.lazy-bg(data-background="./images/Career/vac-2.jpg")
        a(href="/#vacancy_1").change-page.vacancy-item.flex-container.flex-justify-center.flex-align-items-center
          div
            p.vacancy-name .NET Developer (strong junior-middle)
            p Lviv, Ukraine
      .vacancy-block
        .vacancy-bg.lazy-bg(data-background="./images/Career/vac-3.jpg")
        a(href="/#vacancy_1").change-page.vacancy-item.flex-container.flex-justify-center.flex-align-items-center
          div
            p.vacancy-name Strong Junior 
              span Front-end (AngularJS) Developer
            p Lviv, Ukraine
      .vacancy-block
        .vacancy-bg.lazy-bg(data-background="./images/Career/vac-4.jpg")
        a(href="/#vacancy_1").change-page.vacancy-item.flex-container.flex-justify-center.flex-align-items-center
          div
            p.vacancy-name QA Engineer (strong junior)
            p Lviv, Ukraine
  .swiper-pagination.main-page-pagination