@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Hind";
  src: url(../fonts/Hind-Medium.ttf);
}
@font-face {
  font-family: "Hind";
  font-weight: 100;
  src: url(../fonts/Hind-Light.ttf);
}
@font-face {
  font-family: "Hind";
  font-weight: 700;
  src: url(../fonts/Hind-Bold.ttf);
}

@font-face {
  font-family: "WorkSans";
  font-weight: 500;
  src: url(fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-weight: 100;
  src: url(fonts/WorkSans-Light.ttf);
}
@font-face {
  font-family: "PlayfairDisplay";
  font-weight: 100;
  src: url(fonts/PlayfairDisplayItalic.ttf);
}
@font-face {
  font-family: "Milton-One";
  font-weight: 100;
  src: url(fonts/Milton_One_Bold.otf);
}
