$start-page-header-color: #166b91;
$about-header-color: #176a8f;
$pagination-active-color: #db303f;
$btn-color: #166b8f;

$about-width: 1400px;
$menu-left-width: 150px;

$board-a-boat-bg: #1e2458;
$board-a-boat-img: url('/images/Main/Web/boardABoat.png');
$board-a-boat-logo-img: url('/images/Main/Web/boardABoatLogo.png');
$board-a-boat-width: 235px;
$board-a-boat-height: 74px;

$rikroot-bg: #2888ff;
$rikroot-img: url('/images/Main/Web/rikroot.png');
$rikroot-logo-img: url('/images/Main/Web/rikrootLogo.png');
$rikroot-width: 179px;
$rikroot-height: 39px;

$oscaro-bg: #1780d8;
$oscaro-img: url('/images/Main/Web/oscaro.png');
$oscaro-logo-img: url('/images/Main/Web/oscaroLogo.png');
$oscaro-width: 167px;
$oscaro-height: 74px;

$psyball-bg: #ffce3f;
$psyball-img: url('/images/Main/Web/psyball.png');
$psyball-logo-img: url('/images/Main/Web/psyballLogo.png');
$psyball-width: 157px;
$psyball-height: 35px;

$nem-bg: #5ada56;
$nem-img: url('/images/Main/Mobile/nem.png');
$nem-logo-img: url('/images/Main/Mobile/nemLogo.png');
$nem-width: 146px;
$nem-height: 40px;

$wish-catcher-bg: #519de4;
$wish-catcher-img: url('/images/Main/Mobile/wish.png');
$wish-catcher-logo-img: url('/images/Main/Mobile/wishLogo.png');
$wish-catcher-width: 204px;
$wish-catcher-height: 39px;

$levent-bg: #777;
$levent-img: url('/images/Main/Mobile/levent.png');
$levent-logo-img: url('/images/Main/Mobile/leventLogo.png');
$levent-width: 271px;
$levent-height: 55px;

$geekapps-bg: #80CFDB;
$geekapps-img: url('/images/Main/Mobile/apps.png');
$geekapps-logo-img: url('/images/Main/Mobile/appsLogo.svg');
$geekapps-width: 320px;
$geekapps-height: 160px;

$himss-bg: #8dbe57;
$himss-img: url('/images/Main/Lab/himss.png');
$himss-logo-img: url('/images/Main/Lab/himssLogo.png');
$himss-width: 133px;
$himss-height: 63px;

$bob-bg: #6B3579;
$bob-img: url('/images/Main/Lab/buobles.png');
$bob-logo-img: url('/images/Main/Lab/buoblesLogo.png');
$bob-width: 121px;
$bob-height: 50px;

$koktebel-bg: #F9E153;
$koktebel-img: url('/images/Main/Lab/koktebel.png');
$koktebel-logo-img: url('/images/Main/Lab/koktebelLogo.png');
$koktebel-width: 132px;
$koktebel-height: 92px;

/*Breakpoints*/
$laptop: 1024px;
$tablet: 768px;
$tablet-sm: 568px;
$mobile-lg: 425px;
$mobile-md: 375px;
