* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-container {
  height: 100%;

  &.load-images {
    .bg {
      background-image: url(attr(data-origin));
    }
  }

  .bg {
    background-size: cover;
    background-repeat: no-repeat;
    
    .link {
      display: block;
      width: 100%;
      height: 150px;
      background: rgba(0,0,0, 0.7);
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      vertical-align: middle;
      text-decoration: none;
      padding-top: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}