.menu-background
.main-menu
  #menu-icon
    span
    span
    span
  .menu-logo
    object(type="image/svg+xml" data="/images/logo-red.svg" class="logo").logo
  ul
    li.menu-link.main(data-id="home") 
      a(href="/#home-main") Home
    li.menu-link.main(data-id="about") 
      a(href="/#home-about") About
    li.menu-link.main(data-id="expertise") 
      a(href="/#home-expertise") Expertise
    li.menu-link.main(data-id="portfolio-web") 
      a(href="/#portfolio-web") Portfolio
    li.menu-link.career 
      a(href="/#career") Career
    li.menu-link.main(data-id="contact")
      a(href="/#home-contact") Contact
  .menu-social
    .social-networks
      a(href="https://www.facebook.com/artygeek.llc/").fb.social-items
        div
      a(href="https://www.linkedin.com/company-beta/10189041/").ln.social-items
        div
      a(href="https://www.behance.net/artygeek").be.social-items
        div
      a(href="https://twitter.com/artygeekcompany").tw.social-items
        div