doctype html
html
  head
    meta(name="viewport", content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //meta(name='description', content='Geeks who do software development, outsourcing, web design based in Lviv, Ukraine, Eastern Europe. Proficient with asp net development, Angular development, custom mobile app development, Android application development, iOS apps, cross-platform mobile application development')
    //meta(name='keywords', content='software development services Ukraine, outsourcing web development company, web application development, software company Lviv, asp net development, Angular development Lviv, custom mobile app development, Android application development, iOS apps Ukraine, cross-platform mobile application development Eastern Europe, web application Eastern Europe')
    //meta(name='author', content='ArtyGeek')
    title ArtyGeek
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css')
    link(href='./styles/main.css', rel='stylesheet')
  body
    include layouts/components/menu
    a(href="/#home").main-logo
      object(type="image/svg+xml" data="/images/logo-red.svg" class="logo-img")
      img.logo-name(src="/images/arty_geek_logo.svg", alt="ArtyGeek")
    .swiper-container.project
      .swiper-wrapper
        
        .swiper-slide(data-hash="home")
          include layouts/main-page

        .swiper-slide(data-hash="career")
          include layouts/career-page

        .swiper-slide(data-hash='vacancy_1')
          include layouts/vacancies/vacancy_1

    include scripts
