script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js")
script(src="https://code.jquery.com/jquery-1.12.4.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js")
script(src="scripts/LazyLoad.js")
script(src="scripts/main-page.js")
script(src="scripts/team.js")
script(src="scripts/career-page.js")
//- script(src="scripts/portfolio-page.js")
script(src="scripts/vacancy-page.js")
script(src="scripts/main.js")
