script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js")
script(src="scripts/LazyLoad.js")
script(src="scripts/main-page.js")
script(src="scripts/career-page.js")
script(src="scripts/portfolio-page.js")
script(src="scripts/vacancy-page.js")
script(src="scripts/main.js")
